src/main/resources/xsd/payment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="payments">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="payment">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:unsignedByte" />
                            <xs:element name="Amount" type="xs:decimal" />
                            <xs:element name="Customer_ID" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>