src/main/resources/xsd/restaurant.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="restaurants">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="restaurant">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:unsignedByte" />
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="City_ID" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>